# Working copy
.vagrant

# Output files
*.ova
*.box
*.iso

# BuildBox files
/BuildBox/.vagrant
/BuildBox/*.box

# Output files
/Output/*

# Don't track params file
/QuickBase/puppet/manifests/params.pp

